<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex, nofollow" />
    <title>Please enter the code word to continue…</title>
    <%= stylesheet_link_tag    "lockup/application", :media => "all" %>
    <%= javascript_include_tag "lockup/application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
