<!DOCTYPE html>
<html>
<head>
  <title>Lockup</title>
  <%= stylesheet_link_tag    "lockup/application", :media => "all" %>
  <%= javascript_include_tag "lockup/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
