<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex, nofollow" />
    <title>Please enter the code word to continue…</title>
    <style>
      <%= render partial: 'layouts/lockup/inline_css' %>
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
